<a href="https://github.com/ahmetemrekilinc/ember-world-map" target="_blank">Github</a>
<a href="https://www.npmjs.com/package/ember-world-map" target="_blank">Npmjs</a>
<a href="http://jvectormap.com/" target="_blank">jvectormap</a>

{{#generic-demo-page name='Example Usage of Ember World Map' files='showcase.hbs,showcase.js'}}
  {{component 'showcase'}}
{{/generic-demo-page}}

{{outlet}}